/* google font style start here */
.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 800; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* google font style ends here */

/* shared style start here  */
.text-primary{
    color: #FD6E0A;
}

.dark-1{
    color: #181818;
}
.dark-2{
    color: #474747;
}

.dark-3{
    color: #757575;
}

.secondary-bg{
    background-color: #FFF8F3;
}

.btn-primary{
    color: white;
    background-color: #FD6E0A;
    font-weight: bold;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 22px;
    border: none;
    /* width: 150px; */
    /* height: 64px; */
}

.section-title{
    font-weight: bold;
    font-size: 30px;
}

.section-descrption{
    font-size: 18px;
}

.text-center{
    text-align: center;
}
/* shared style ends here  */

/* header section start here  */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    max-width: 1600px;
    margin: 0 auto;
}
/* header section ends here  */




/* nav section start here  */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px 50px 200px;

}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-left: 50px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}
/* nav section ends here  */

/* banner style start here  */
.banner-section{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px; 
    /* margin: 50px 200px; */
}

.banner-container{
    max-width: 580px;
}
.banner-greeeting{
    font-weight: 600;
    font-size: 45px;
}

.banner-title{
    font-weight: bold;
    font-size: 80px;
}

.banner-decription{
    font-size: 18px;
}

.banner-img{
    width: 580px;
}


/* banner style ends here  */

/* main style start here  */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* main style ends here  */

/* about section start here  */
.about-section{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 130px;
}

.about-items{
    display: flex;
    justify-content: space-around;
}

.item-title{
    font-size: 20ox;
    color: #757575;
}

.item-description{
    font-weight: bold;
    font-size: 20px;
    color: #474747;
}
/* about section ends here  */

/* skills section start here  */
.skills-container{
    display: flex;
    gap: 24px;
}

.skills{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
/* skills section ends here  */

/* resume section start here  */
.resume-container{
    display: flex;
    gap: 24px;
}

.experience-description{
    color: #757575;
    font-size: 16px;
}

.experience-sub-title{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}

.experience-title{
    color: #474747;
    font-weight: bold;
    font-size: 25px;
}

.resume-colomn-title{
    color: #474747;
    font-size: 30px;
    font-weight: bold;
    /* margin-bottom: 10px; */
}

.title-section{
    color: #181818;
    font-weight: bold;
    font-size: 35px;
}

hr{
    color: #d1d1d1;
}

.cv-downlode-btn{
    margin-top: 50px;
    margin-bottom: 113px;
}
/* resume section ends here  */

/* footer section start here  */
footer{
     max-width: 1600px;
    margin: 0 auto;
}
.footer-section{
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
}


.footer-title{
    color: #181818;
    font-weight: bold;
    font-size: 35px;
}
.footer-title-2{
    color: #181818;
    font-weight: bold;
    font-size: 35px;
}

.footer-description{
    color: #474747;
    font-size: 16px;
}

footer input[type="text"], footer input[type="email"] {
    height: 64px;
    width: 641px;
    border-radius: 5px;
    border: none;
    background-color: white;
    font-size: 16px;
    color: #757575;
    padding: 18px 0 18px 32px;
    margin-bottom: 24px;
}

form textarea{
    height: 64px;
    width: 641px;
    margin-bottom: 24px;
    border-radius: 5px;
    border: none;
    background-color: white;
    font-size: 16px;
    color: #757575;
    padding: 18px 0 18px 32px;
}

.submit-btn{
    margin-bottom: 130px;
}

/* footer section ends here  */


/* responsive area  */
.hide{
    display: none;
}
@media screen and (max-width: 576px) {
    .skills-container, .footer-section, .resume-container, .about-items, .banner-section, nav, nav ul{
        flex-direction: column;
    }

    .header{
        background-image: none;
    }
    .banner-section{
        margin: 5px;
    }
    ul > li, .banner-decription, .btn-primary{
        margin-bottom: 20px;
    }
    .banner-img, form textarea, footer input[type="text"], footer input[type="email"] {
       width: 90%;
    }
    .footer-section, .about-section{
        padding: 15px;
    }
}